@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SkyTeam implementation : © Jordi Jansen <jordi@itbyjj.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 */
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

@keyframes jj-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes jj-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.st-board {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
  border-radius: 10px;
}

#st-game #st-game-boards-wrapper {
  display: flex;
  justify-content: center;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper {
  width: 607px;
  height: 1500px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper {
  position: absolute;
  z-index: 2;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board {
  background-image: url("img/skyteam-main-board.png");
  width: 607px;
  height: 850px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator {
  background-image: url("img/skyteam-axis-indicator.png");
  width: 190px;
  height: 190px;
  position: absolute;
  z-index: 3;
  left: calc(50% - 95px);
  top: 145px;
  background-size: cover;
  transition: transform 1s ease-in-out;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="-3"] {
  transform: rotate(-75deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="-2"] {
  transform: rotate(-50deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="-1"] {
  transform: rotate(-25deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="0"] {
  transform: rotate(0deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="1"] {
  transform: rotate(25deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="2"] {
  transform: rotate(50deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-axis-indicator[data-value="3"] {
  transform: rotate(75deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker, #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker {
  position: absolute;
  transition-property: transform, left, top;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 3;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="4"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="4"] {
  left: 180px;
  top: 353px;
  transform: rotate(42deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="5"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="5"] {
  left: 222px;
  top: 379px;
  transform: rotate(25deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="6"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="6"] {
  left: 269px;
  top: 392px;
  transform: rotate(8deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="7"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="7"] {
  left: 319px;
  top: 392px;
  transform: rotate(-8deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="8"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="8"] {
  left: 363px;
  top: 379px;
  transform: rotate(-25deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="9"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="9"] {
  left: 403px;
  top: 353px;
  transform: rotate(-42deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="10"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="10"] {
  left: 438px;
  top: 312px;
  transform: rotate(-59deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="11"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="11"] {
  left: 457px;
  top: 268px;
  transform: rotate(-76deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-blue-marker[data-value="12"], #st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-aerodynamics-orange-marker[data-value="12"] {
  left: 464px;
  top: 220px;
  transform: rotate(-90deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-brake-marker {
  position: absolute;
  transition-property: transform, left, top;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 3;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-brake-marker[data-value="0"] {
  left: 180px;
  top: 517px;
  transform: rotate(42deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-brake-marker[data-value="2"] {
  left: 222px;
  top: 544px;
  transform: rotate(25deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-brake-marker[data-value="4"] {
  left: 319px;
  top: 557px;
  transform: rotate(-8deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-plane-brake-marker[data-value="6"] {
  left: 404px;
  top: 517px;
  transform: rotate(-42deg);
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-available-coffee {
  position: absolute;
  bottom: 0;
  left: 0;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-available-coffee [data-slot-id=st-available-coffee-1] {
  position: absolute;
  bottom: 80px;
  left: 50px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-available-coffee [data-slot-id=st-available-coffee-2] {
  position: absolute;
  bottom: 22px;
  left: 50px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-available-coffee [data-slot-id=st-available-coffee-3] {
  position: absolute;
  bottom: 22px;
  left: 112px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board #st-available-reroll {
  position: absolute;
  top: 37px;
  left: 29px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board .st-action-spaces #axis-1 {
  top: 129px;
  left: 116px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-main-board .st-action-spaces #axis-2 {
  top: 129px;
  right: 115px;
}
#st-game #st-game-boards-wrapper #st-main-board-wrapper #st-plane-board-wrapper #st-token-reserves {
  margin-top: 10px;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks {
  height: 700px;
  position: relative;
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks #st-altitude-track {
  position: absolute;
  z-index: 1;
  left: 333px;
  transition-property: bottom;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks #st-altitude-track .slot {
  height: 95px;
  justify-content: end;
  padding-right: 10px;
  align-items: center;
  display: flex;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks #st-altitude-track .slot:nth-child(1) {
  margin-top: 36px;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks #st-approach-track {
  position: absolute;
  z-index: 1;
  left: 104px;
  transition-property: bottom;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks #st-approach-track .slot {
  height: 95px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#st-game #st-game-boards-wrapper #st-main-board-tracks #st-approach-track .slot:nth-child(1) {
  margin-top: 36px;
}

.st-action-space {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.st-action-space.selected {
  outline: 6px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
  animation: jj-pulse 2s infinite;
}
.st-action-space.selectable {
  outline: 6px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
  animation: jj-pulse 2s infinite;
}

.token {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}

.st-plane-marker {
  background-image: url("img/skyteam-plane-markers.png");
  background-size: 300% auto;
  height: 40px;
  width: 25px;
}
.st-plane-marker[data-type=aerodynamics-blue] {
  background-position: 0 0;
}
.st-plane-marker[data-type=aerodynamics-orange] {
  background-position: 50% 0;
}
.st-plane-marker[data-type=brakes-red] {
  background-position: 100% 0;
}

.st-token {
  background-image: url("img/skyteam-tokens.png");
  height: 50px;
  width: 50px;
  background-size: 300% auto;
  display: inline-block;
  vertical-align: middle;
}
.st-token[data-type=reroll] {
  background-position: 0 0;
}
.st-token[data-type=coffee] {
  background-position: 50% 0;
}
.st-token[data-type=plane] {
  background-position: 100% 0;
}
.st-token .card-sides .card-side {
  box-shadow: none;
}

@keyframes jj-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.st-role-card {
  background-image: url("img/skyteam-roles.jpg");
  background-size: 200% auto;
  border-radius: 10px;
  width: 200px;
  height: 159px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.st-role-card p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}
.st-role-card[data-type=pilot] {
  background-position: 0 0;
}
.st-role-card[data-type=co-pilot] {
  background-position: 100% 0;
}
.st-role-card.selected {
  outline: 6px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}
.st-role-card.selectable {
  outline: 6px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}

.st-dice {
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 2px;
  display: inline-block;
  vertical-align: middle;
}
.st-dice.st-dice-placeholder {
  box-shadow: none !important;
  outline: none !important;
}
.st-dice.st-dice-placeholder .side {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.6) !important;
  outline: none !important;
}
.st-dice .card-side {
  box-shadow: none !important;
  outline: none !important;
}
.st-dice .side {
  position: absolute;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6274509804);
  background-image: url("img/skyteam-dice.png");
  background-size: 600% auto;
}
.st-dice .side[data-side="1"] {
  transform: translateZ(1.364em);
}
.st-dice .side[data-side="2"] {
  transform: rotateX(-180deg) translateZ(1.364em);
}
.st-dice .side[data-side="3"] {
  transform: rotateY(-90deg) translateZ(1.364em);
}
.st-dice .side[data-side="4"] {
  transform: rotateX(90deg) translateZ(1.364em);
}
.st-dice .side[data-side="5"] {
  transform: rotateX(-90deg) translateZ(1.364em);
}
.st-dice .side[data-side="6"] {
  transform: rotateY(90deg) translateZ(1.364em);
}
.st-dice.bga-cards_selectable-card .side {
  outline: 6px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}
.st-dice.bga-cards_selected-card .side {
  outline: 6px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}
.st-dice[data-value="1"] {
  transform: rotateX(720deg) rotateZ(-720deg);
}
.st-dice[data-value="2"] {
  transform: rotateX(-900deg) rotateZ(1080deg);
}
.st-dice[data-value="3"] {
  transform: rotateY(810deg) rotateZ(720deg);
}
.st-dice[data-value="4"] {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}
.st-dice[data-value="5"] {
  transform: rotateX(450deg) rotateZ(-720deg);
}
.st-dice[data-value="6"] {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}
.st-dice[data-type=pilot] [data-side="1"] {
  background-position: 0 0;
}
.st-dice[data-type=pilot] [data-side="2"] {
  background-position: 20% 0;
}
.st-dice[data-type=pilot] [data-side="3"] {
  background-position: 40% 0;
}
.st-dice[data-type=pilot] [data-side="4"] {
  background-position: 60% 0;
}
.st-dice[data-type=pilot] [data-side="5"] {
  background-position: 80% 0;
}
.st-dice[data-type=pilot] [data-side="6"] {
  background-position: 100% 0;
}
.st-dice[data-type=co-pilot] [data-side="1"] {
  background-position: 0 50%;
}
.st-dice[data-type=co-pilot] [data-side="2"] {
  background-position: 20% 50%;
}
.st-dice[data-type=co-pilot] [data-side="3"] {
  background-position: 40% 50%;
}
.st-dice[data-type=co-pilot] [data-side="4"] {
  background-position: 60% 50%;
}
.st-dice[data-type=co-pilot] [data-side="5"] {
  background-position: 80% 50%;
}
.st-dice[data-type=co-pilot] [data-side="6"] {
  background-position: 100% 50%;
}
.st-dice[data-type=weather] [data-side="1"] {
  background-position: 0 100%;
}
.st-dice[data-type=weather] [data-side="2"] {
  background-position: 20% 100%;
}
.st-dice[data-type=weather] [data-side="3"] {
  background-position: 40% 100%;
}
.st-dice[data-type=weather] [data-side="4"] {
  background-position: 60% 100%;
}
.st-dice[data-type=weather] [data-side="5"] {
  background-position: 80% 100%;
}
.st-dice[data-type=weather] [data-side="6"] {
  background-position: 100% 100%;
}

.st-altitude {
  background-image: url("img/skyteam-alltitude-tracks.png");
  background-size: 200% auto;
  width: 173px;
  height: 720px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}
.st-altitude[data-type="1"] {
  background-position: 0 0;
}
.st-altitude[data-type="2"] {
  background-position: 100% 0;
}

.st-approach {
  background-image: url("img/skyteam-approach-tracks.png");
  background-size: 300% auto;
  width: 173px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}
.st-approach[data-type="1"] {
  height: 718px;
  background-position: 0 0;
}
.st-approach[data-type="2"] {
  height: 621px;
  background-position: 50% 0;
}
.st-approach[data-type="3"] {
  height: 812px;
  background-position: 100% 0;
}

.bga-cards_selectable-card .card-side {
  outline: 6px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}

.bga-cards_selected-card .card-side {
  outline: 6px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}

html, .mode_3d #game_play_area_background {
  background-image: unset;
  background-color: #03afee;
}
html .whiteblock, .mode_3d #game_play_area_background .whiteblock {
  border-radius: 10px;
}
html .whiteblock:empty, .mode_3d #game_play_area_background .whiteblock:empty {
  margin: 0 !important;
  padding: 0 !important;
}

#st-player-dice {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

#st-player-setup {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#st-communication-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#st-communication-info .st-communication-info-examples {
  text-align: left;
  display: flex;
  gap: 25px;
}

/*# sourceMappingURL=skyteam.css.map */
