@use "sass:list";

@import 'Variables';

@mixin selectable($opacity: 1, $width: 6px) {
  outline: $width rgba(80, 200, 255, $opacity) dashed;
  cursor: pointer;
}

@mixin selected($opacity: 1, $width: 6px) {
  outline: $width rgba(124, 252, 0, $opacity) solid;
  cursor: pointer;
}

@keyframes jj-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes jj-flash {
  0% {
    opacity: 0.6;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  50% {
    opacity: 1;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 0.6;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes jj-red-color-transition {
  0% {
    color: #000;
  }
  70% {
    color: red;
  }
  100% {
    color: #000;
  }
}

@keyframes jj-font-size-increase {
  0% {
    opacity: 1;
    font-size: 16px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  100% {
    opacity: 1;
    font-size: 64px;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

.slot-stock {
  .slot {
    &.selectable {
      @include selectable();
    }
    &.selected {
      @include selected();
    }
  }
}


#undoLast, #undoAll, #undoLast:hover, #undoAll:hover, .bgabutton_yellow {
  background: linear-gradient(rgb(248, 212, 4), rgb(255, 230, 87));
  color: black !important;
}

.jj-ui-hint-box {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 0 2px 1px black;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;

  .jj-ui-hint-box-arrow {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }

  &.bottom {
    .jj-ui-hint-box-arrow {
      top: -12px;
      left: calc(50% - 10px);
    }
  }

  &.top {
    .jj-ui-hint-box-arrow {
      bottom: -12px;
      left: calc(50% - 10px);
      transform: rotate(180deg);
    }
  }

  .bgabutton {
    padding: 3px;
    margin: 2px;
  }

}

#jj-preferences-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto !important;
  position: relative;
  z-index: 99;
  top: 7px;
  border-radius: 5px;
  margin-left: -3px;
  margin-right: -3px;

  #jj-preferences-panel-toggle-button {
    font-size: 35px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
  }
  #jj-preferences-panel-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .jj-preferences-panel-category-label {
      background: rgba(255,255,255,0.7);
      border-radius: 5px;
      border: 1px solid darkgray;
      text-align: center;
      padding: 5px;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    .jj-preferences-panel-preference-wrapper {
      width: 100%;
      padding: 3px 0;
      label {
        font-weight: bold;
      }
      &.jj-select-input {
        select {
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}

.jj-tab-manager {
  .jj-tab-manager-tabs {
    display: flex;
    align-items: end;
    border-bottom: 2px solid black;
    .jj-tab-manager-tab {
      font-size: 18px;
      padding: 5px;
      border-color: black;
      border-left: 1px;
      border-right: 1px;
      border-top: 1px;
      border-bottom: 0;
      border-style: solid;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      &.active {
        scale: 1.1;
        transform-origin: bottom;
      }
    }

  }
  .jj-tab-manager-contents {
    .jj-tab-manager-content {
      display: flex;
      overflow: auto;

      overflow-x: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

#jj-final-turn-notice {
  p {
    color: #c13633;
    text-decoration: underline;
  }
}

.jj-icon-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-stock-counter {
    text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 2px, #000 0 0 2px, #000 0 0 2px, #000 0 0 2px;
    font-weight: bolder;
    font-size: 14px;
    color:white;
  }
}