@use "sass:list";

@import 'Variables';

.st-board {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
  border-radius: 10px;
}

#st-game {
  #st-game-boards-wrapper {
    display: flex;
    justify-content: center;

    #st-main-board-wrapper {
      width: 607px;
      height: 1500px;
      #st-plane-board-wrapper {
        position: absolute;
        z-index: 2;
        #st-main-board {
          background-image: url("img/skyteam-main-board.png");
          width: 607px;
          height: 850px;

          #st-plane-axis-indicator {
            background-image: url('img/skyteam-axis-indicator.png');
            width: 190px;
            height: 190px;
            position: absolute;
            z-index: 3;
            left: calc(50% - 95px);
            top: 145px;
            background-size: cover;
            transition: transform 1s ease-in-out;
            &[data-value="-3"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-2"] { transform: rotate(-2 * $axis-rotation-step-degrees); }
            &[data-value="-1"] { transform: rotate(-1 * $axis-rotation-step-degrees); }
            &[data-value="0"] { transform: rotate(0deg); }
            &[data-value="1"] { transform: rotate(1 * $axis-rotation-step-degrees); }
            &[data-value="2"] { transform: rotate(2 * $axis-rotation-step-degrees); }
            &[data-value="3"] { transform: rotate(3 * $axis-rotation-step-degrees); }
          }

          #st-plane-aerodynamics-blue-marker, #st-plane-aerodynamics-orange-marker {
            position: absolute;
            transition-property: transform, left, top;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            z-index: 3;
            &[data-value="4"] { left: 180px; top: 353px; transform: rotate(42deg); }
            &[data-value="5"] { left: 222px; top: 379px; transform: rotate(25deg); }
            &[data-value="6"] { left: 269px; top: 392px; transform: rotate(8deg); }
            &[data-value="7"] { left: 319px; top: 392px; transform: rotate(-8deg); }
            &[data-value="8"] { left: 363px; top: 379px; transform: rotate(-25deg); }
            &[data-value="9"] { left: 403px; top: 353px; transform: rotate(-42deg); }
            &[data-value="10"] { left: 438px; top: 312px; transform: rotate(-59deg); }
            &[data-value="11"] { left: 457px; top: 268px; transform: rotate(-76deg); }
            &[data-value="12"] { left: 464px; top: 220px; transform: rotate(-90deg); }
          }

          #st-plane-brake-marker {
            position: absolute;
            transition-property: transform, left, top;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            z-index: 3;
            &[data-value="0"] { left: 180px; top: 517px; transform: rotate(42deg); }
            &[data-value="2"] { left: 222px; top: 544px; transform: rotate(25deg); }
            &[data-value="4"] { left: 319px; top: 557px; transform: rotate(-8deg); }
            &[data-value="6"] { left: 404px; top: 517px; transform: rotate(-42deg); }
          }

          #st-available-coffee {
            position: absolute;
            bottom: 0;
            left: 0;
            [data-slot-id="st-available-coffee-1"] {position:absolute; bottom: 80px; left: 50px;}
            [data-slot-id="st-available-coffee-2"] {position:absolute; bottom: 22px; left: 50px;}
            [data-slot-id="st-available-coffee-3"] {position:absolute; bottom: 22px; left: 112px;}
          }

          #st-available-reroll {
            position: absolute;
            top: 37px;
            left: 29px;
          }

          .st-action-spaces {
            #axis-1 { top: 129px; left: 116px; }
            #axis-2 { top: 129px; right: 115px; }
          }
        }

        #st-token-reserves {
          margin-top: 10px;
        }
      }
    }
    #st-main-board-tracks {
      height: 700px;
      position: relative;
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;

      #st-altitude-track {
        position: absolute;
        z-index: 1;
        left: 333px;
        transition-property: bottom;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        .slot {
          height: 95px;
          justify-content: end;
          padding-right: 10px;
          align-items: center;
          display: flex;
          &:nth-child(1) {
            margin-top: 36px;
          }
        }
      }

      #st-approach-track {
        position: absolute;
        z-index: 1;
        left: 104px;
        transition-property: bottom;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        .slot {
          height: 95px;
          justify-content: center;
          align-items: center;
          display: flex;
          &:nth-child(1) {
            margin-top: 36px;
          }
        }
      }
    }
  }
}

.st-action-space {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  &.selected {
    @include selected();
    animation: jj-pulse 2s infinite;
  }
  &.selectable {
    @include selectable();
    animation: jj-pulse 2s infinite;
  }
}
