@use "sass:list";

@import 'Variables';

.st-board {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
  border-radius: 10px;
}

#st-main-board-left {
  position: absolute;
  left: 0;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  #st-kerosene-board {
    background-image: url("img/skyteam-kerosene-board.jpg");
    width: 118px;
    height: 637px;
    position: relative;
    #st-kerosene-marker {
      position: absolute;
      bottom: 27px;
      left: 51px;
      transition-property: bottom;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      @for $row from 0 through 20 {
        &[data-value="#{$row}"] { bottom: 27px + (($row + 1) * 21.71428px); }
      }
    }
  }
  #st-token-reserve-coffee {
    padding-bottom: 10px;
    padding-right: 10px;
  }
}

#st-main-board-right {
  height: 850px;
  position: absolute;
  left: 118px + 607px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  #st-winds-board {
    background-image: url("img/skyteam-winds-board.png");
    width: 278px;
    height: 278px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    #st-winds-plane {
      transition: transform 1s ease-in-out;
      @for $i from 0 through 19 {
        &[data-value="#{$i}"] { transform: rotate($i * 18deg); }
      }
    }
  }

  #st-main-board-special-abilities {
    margin-left: 10px;
  }
}

#st-game {
  #st-game-boards-wrapper {
    display: flex;
    justify-content: center;

    #st-main-board-wrapper {
      width: 1000px;
      height: 1550px;
      #st-plane-board-wrapper {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        #st-main-board {
          background-image: url("img/skyteam-main-board.png");
          width: 607px;
          height: 850px;
          position: absolute;
          left: 118px;

          #st-plane-axis-indicator {
            background-image: url('img/skyteam-axis-indicator.png');
            width: 190px;
            height: 190px;
            position: absolute;
            z-index: 3;
            left: calc(50% - 95px);
            top: 145px;
            background-size: cover;
            transition: transform 1s ease-in-out;
            &[data-value="-10"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-9"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-8"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-7"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-6"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-5"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-4"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-3"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
            &[data-value="-2"] { transform: rotate(-2 * $axis-rotation-step-degrees); }
            &[data-value="-1"] { transform: rotate(-1 * $axis-rotation-step-degrees); }
            &[data-value="0"] { transform: rotate(0deg); }
            &[data-value="1"] { transform: rotate(1 * $axis-rotation-step-degrees); }
            &[data-value="2"] { transform: rotate(2 * $axis-rotation-step-degrees); }
            &[data-value="3"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="4"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="5"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="6"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="7"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="8"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="9"] { transform: rotate(3 * $axis-rotation-step-degrees); }
            &[data-value="10"] { transform: rotate(3 * $axis-rotation-step-degrees); }
          }

          #st-plane-aerodynamics-blue-marker, #st-plane-aerodynamics-orange-marker {
            position: absolute;
            transition-property: transform, left, top;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            z-index: 3;
            &[data-value="4"] { left: 180px; top: 353px; transform: rotate(42deg); }
            &[data-value="5"] { left: 222px; top: 379px; transform: rotate(25deg); }
            &[data-value="6"] { left: 269px; top: 392px; transform: rotate(8deg); }
            &[data-value="7"] { left: 319px; top: 392px; transform: rotate(-8deg); }
            &[data-value="8"] { left: 363px; top: 379px; transform: rotate(-25deg); }
            &[data-value="9"] { left: 403px; top: 353px; transform: rotate(-42deg); }
            &[data-value="10"] { left: 438px; top: 312px; transform: rotate(-59deg); }
            &[data-value="11"] { left: 457px; top: 268px; transform: rotate(-76deg); }
            &[data-value="12"] { left: 464px; top: 220px; transform: rotate(-90deg); }
          }

          #st-plane-brake-marker {
            position: absolute;
            transition-property: transform, left, top;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            z-index: 3;
            &[data-value="0"] { left: 180px; top: 517px; transform: rotate(42deg); }
            &[data-value="2"] { left: 222px; top: 544px; transform: rotate(25deg); }
            &[data-value="4"] { left: 319px; top: 557px; transform: rotate(-8deg); }
            &[data-value="6"] { left: 404px; top: 517px; transform: rotate(-42deg); }
          }

          #st-available-coffee {
            position: absolute;
            bottom: 0;
            left: 0;
            [data-slot-id="st-available-coffee-1"] {position:absolute; bottom: 84px; left: 52px;}
            [data-slot-id="st-available-coffee-2"] {position:absolute; bottom: 27px; left: 52px;}
            [data-slot-id="st-available-coffee-3"] {position:absolute; bottom: 27px; left: 114px;}
          }

          #st-available-reroll {
            position: absolute;
            top: 37px;
            left: 29px;
          }

          #st-action-spaces {
            #axis-1 { top: 129px; left: 116px; }
            #axis-2 { top: 129px; right: 115px; }
            #engines-1 {top: 433px; left: 180px;}
            #engines-2 {top: 433px; right: 180px;}
            #radio-1 {top: 115px; left: 20px;}
            #radio-2 {top: 25px; right: 20px;}
            #radio-3 {top: 115px; right: 20px;}
            #landing-gear-1 {top: 309px; left: 21px;}
            #landing-gear-2 {top: 445px; left: 21px;}
            #landing-gear-3 {top: 581px; left: 21px;}
            #flaps-1 {top: 309px; right: 20px;}
            #flaps-2 {top: 445px; right: 20px;}
            #flaps-3 {top: 581px; right: 20px;}
            #flaps-4 {top: 717px; right: 20px;}
            #concentration-1 {bottom: 28px; left: 183px;}
            #concentration-2 {bottom: 28px; left: 276px;}
            #concentration-3 {bottom: 28px; left: 368px;}
            #brakes-1 {bottom: 177px; left: 183px;}
            #brakes-2 {bottom: 177px; left: 276px;}
            #brakes-3 {bottom: 177px; left: 368px;}
            #kerosene {left: -88px; top: 26px;}
          }
          #st-plane-switches {
            #plane-switch-landing-gear-1 { top: 386px; left: 18px; }
            #plane-switch-landing-gear-2 { top: 522px; left: 18px; }
            #plane-switch-landing-gear-3 { top: 658px; left: 18px; }
            #plane-switch-flaps-1 { top: 386px; right: 18px; }
            #plane-switch-flaps-2 { top: 522px; right: 18px; }
            #plane-switch-flaps-3 { top: 658px; right: 18px; }
            #plane-switch-flaps-4 { top: 794px; right: 18px; }
            #plane-switch-brakes-1 { top: 690px; left: 179px; }
            #plane-switch-brakes-2 { top: 690px; left: 272px; }
            #plane-switch-brakes-3 { top: 690px; left: 365px; }
          }
          #st-token-reserve-plane, #st-token-reserve-reroll {
            top: -50px;
            position: absolute;
            left: -600px;
          }
          #st-traffic-dice-stock {
            width: 202px;
            height: 50px;
            position: absolute;
            top: -68px;
            left: -102px;
            justify-content: end;
          }
        }
      }
    }
    #st-main-board-tracks {
      height: 700px;
      position: relative;
      transition-property: height;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;

      #st-altitude-track {
        position: absolute;
        z-index: 1;
        left: 451px;
        transition-property: bottom;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        .slot {
          height: 95px;
          justify-content: end;
          padding-right: 10px;
          align-items: center;
          display: flex;
          &:nth-child(1) {
            margin-top: 36px;
          }
        }
      }

      #st-approach-track {
        position: absolute;
        z-index: 1;
        left: 222px;
        transition-property: bottom;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        .slot {
          height: 95px;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          &:nth-child(1) {
            margin-top: 36px;
          }
        }
      }
    }
  }
}

.st-action-space {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  &.selected {
    @include selected();
    animation: jj-pulse 2s infinite;
  }
  &.selectable {
    @include selectable();
    animation: jj-pulse 2s infinite;
  }

  &.st-action-space-occupied {
    .st-action-space-mandatory-warning {
      animation: none;
    }
  }

  .st-action-space-mandatory-warning {
    position: absolute;
    animation: jj-red-color-transition 2s infinite;
    &.bottom {
      bottom: -25px;
    }
    &.left {
      left: -25px;
    }
    &.right {
      right: -25px;
    }
  }

  .st-action-space-help {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    &.top {
      top: -25px;
    }
    &.right {
      right: -24px;
    }
    &.left {
      left: -24px;
    }
  }
}

.help-buttons-disabled {
  .st-action-space-help {
    display: none;
  }
}

.st-plane-switch-wrapper {
  position: absolute;
  width: 66px;
  height: 33px;
  display: flex;
  .st-plane-switch {
    position: relative;
    left: 0;
  }
  &[data-value="false"] {
    .st-plane-switch {
      left: 33px;
    }
  }
}
