@use "sass:list";

@import 'Variables';

.st-board {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
  border-radius: 10px;
}

#st-game {
  display: flex;
  justify-content: center;
  align-items: center;

  #st-game-boards-wrapper {
    display: flex;
    width: 1000px;
    justify-content: center;
    #st-main-board {
      background-image: url("img/skyteam-main-board.png");
      width: 607px;
      height: 850px;

      #st-plane-axis-indicator {
        background-image: url(img/skyteam-axis-indicator.png);
        width: 190px;
        height: 190px;
        position: absolute;
        left: calc(50% - 95px);
        top: 145px;
        background-size: cover;
        transition: transform 1s ease-in-out;
        &[data-value="-3"] { transform: rotate(-3 * $axis-rotation-step-degrees); }
        &[data-value="-2"] { transform: rotate(-2 * $axis-rotation-step-degrees); }
        &[data-value="-1"] { transform: rotate(-1 * $axis-rotation-step-degrees); }
        &[data-value="0"] { transform: rotate(0deg); }
        &[data-value="1"] { transform: rotate(1 * $axis-rotation-step-degrees); }
        &[data-value="2"] { transform: rotate(2 * $axis-rotation-step-degrees); }
        &[data-value="3"] { transform: rotate(3 * $axis-rotation-step-degrees); }
      }

      #st-plane-aerodynamics-blue-marker, #st-plane-aerodynamics-orange-marker {
        position: absolute;
        transition-property: transform, left, top;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        &[data-value="4"] { left: 180px; top: 353px; transform: rotate(42deg); }
        &[data-value="5"] { left: 222px; top: 379px; transform: rotate(25deg); }
        &[data-value="6"] { left: 269px; top: 392px; transform: rotate(8deg); }
        &[data-value="7"] { left: 319px; top: 392px; transform: rotate(-8deg); }
        &[data-value="8"] { left: 363px; top: 379px; transform: rotate(-25deg); }
        &[data-value="9"] { left: 403px; top: 353px; transform: rotate(-42deg); }
        &[data-value="10"] { left: 438px; top: 312px; transform: rotate(-59deg); }
        &[data-value="11"] { left: 457px; top: 268px; transform: rotate(-76deg); }
        &[data-value="12"] { left: 464px; top: 220px; transform: rotate(-90deg); }
      }

      #st-plane-brake-marker {
        position: absolute;
        transition-property: transform, left, top;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        &[data-value="0"] { left: 180px; top: 517px; transform: rotate(42deg); }
        &[data-value="2"] { left: 222px; top: 544px; transform: rotate(25deg); }
        &[data-value="4"] { left: 319px; top: 557px; transform: rotate(-8deg); }
        &[data-value="6"] { left: 404px; top: 517px; transform: rotate(-42deg); }
      }
    }
  }
}
