@use "sass:list";

.token {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}

.st-plane-marker {
  background-image: url('img/skyteam-plane-markers.png');
  background-size: 300% auto;
  height: 40px;
  width: 25px;
  &.small {
    height: 32px;
    width: 20px;
  }
  display: inline-block;
  vertical-align: middle;
  &[data-type="aerodynamics-blue"] {background-position: 0 0;}
  &[data-type="aerodynamics-orange"] {background-position: 50% 0;}
  &[data-type="brakes-red"] {background-position: 100% 0;}
}

.st-token {
  background-image: url('img/skyteam-tokens.png');
  width: 45px;
  height: 45px;

  &.small {
    width: 25px;
    height: 25px;
  }
  background-size: 300% auto;
  display: inline-block;
  vertical-align: middle;
  &[data-type="reroll"] {background-position: 0 0;}
  &[data-type="coffee"] {
    width: 47px;
    height: 42px;
    background-position: 50% 0;
    &.small {
      width: 27px;
      height: 25px;
    }
  }
  &[data-type="plane"] {background-position: 100% 0;}
  .card-sides {
    .card-side {
      box-shadow: none;
    }
  }
}

.st-plane-switch {
  background-image: url('img/skyteam-plane-switch.png');
  height: 33px;
  width: 33px;

  display: inline-block;
  vertical-align: middle;

  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
