@mixin selectable() {
  outline: 6px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}

@mixin selected() {
  outline: 6px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}

$axis-rotation-step-degrees: 25deg;