@mixin selectable() {
  outline: 6px rgba(80, 200, 255, 0.75) solid;
  cursor: pointer;
}

@mixin selected() {
  outline: 6px rgba(124, 252, 0, 0.75) solid;
  cursor: pointer;
}

$axis-rotation-step-degrees: 25deg;

$sky-team-red: #c13633;
$sky-team-green:#97c355;

$special-ability-card-width: 278px;
$special-ability-card-height: 183px;


@keyframes jj-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes jj-red-color-transition {
  0% {
    color: #000;
  }
  70% {
    color: $sky-team-red;
  }
  100% {
    color: #000;
  }
}

