$axis-rotation-step-degrees: 25deg;

$sky-team-red: #c13633;
$sky-team-green:#97c355;

$pilot-color: #365ea5;
$co-pilot-color: #fba919;

$special-ability-card-width: 278px;
$special-ability-card-height: 183px;

