/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SkyTeam implementation : © Jordi Jansen <jordi@itbyjj.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 */
@use 'sass:math';

@import '../../node_modules/bga-zoom/bga-zoom';
@import '../../node_modules/bga-cards/bga-cards';
@import 'Variables';
@import 'Boards';
@import 'Tokens';
@import 'Cards';

.bga-cards_selectable-card {
  .card-side {
    @include selectable();
  }
}

.bga-cards_selected-card {
  .card-side {
    @include selected();
  }
}

html, .mode_3d #game_play_area_background {
  background-image: unset;
  background-color: #03afee;
  .whiteblock {
    &:empty {
      margin: 0 !important;
      padding: 0 !important;
    }
    border-radius: 10px;
  }
}


#custom-actions {

}

#st-player-dice {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

#st-player-setup {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#st-communication-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .st-communication-info-examples {
    text-align: left;
    display: flex;
    gap: 25px;
  }
}

#st-end-game-info-wrapper {
  display: flex;
  justify-content: center;
  .st-end-game-info-box {
    &.failure {
      background-color: #c13633;
    }
    h1 {
      text-transform: uppercase;
      font-weight: bold;
    }
    width: 300px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 25px 50px;
    filter: drop-shadow(1px 1px 1px black);
    -webkit-filter: drop-shadow(1px 1px 1px black);
  }
}



