/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SkyTeam implementation : © Jordi Jansen <jordi@itbyjj.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 */
@use 'sass:math';

@import '../../node_modules/bga-zoom/bga-zoom';
@import '../../node_modules/bga-cards/bga-cards';
@import '../../node_modules/bga-help/bga-help';

@import 'Variables';
@import 'Boards';
@import 'Tokens';
@import 'Cards';

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}

.bga-cards_selectable-card {
  .card-side {
    @include selectable();
  }
}

.bga-cards_selected-card {
  .card-side {
    @include selected();
  }
}

html, .mode_3d #game_play_area_background {
  background-image: unset;
  background-color: #03afee;
  .whiteblock {
    &:empty {
      margin: 0 !important;
      padding: 0 !important;
    }
    border-radius: 10px;
  }
}


#custom-actions {

}

#st-player-dice-wrapper {
  display: flex;
  justify-content: center;
  #st-player-dice {
    display: flex;
    max-width: 1000px;
    flex: 1;
    gap: 10px;
    margin: 10px;
  }
}


#st-player-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  #st-player-setup-role-cards {
    display: flex;
    gap: 18px;
  }
}

#st-communication-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  #st-communication-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    background-image: none;
    color: white;
    position: relative;
    margin-bottom: 0;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    h2 {
      font-size: 18px;
    }

    #st-communication-info-dialog-close-button {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 24px;
    }

    &.red {
      background-color: $sky-team-red;
    }
    &.green {
      background-color: $sky-team-green;
    }
  }
}

#st-end-game-info-wrapper {
  display: flex;
  justify-content: center;
}

.st-end-game-info-box {
  background-color: $sky-team-green;
  &.failure {
    background-color: $sky-team-red;
  }
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  width: 400px;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 25px 50px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}

#st-spend-coffee {
  .bgabutton {
    font-size: 25px;
    box-shadow: 0 1px 0 #000;
    height: 25px;
  }

  #st-spend-coffee-decrease {
    border-radius: 5px 0 0 5px;
  }

  #st-spend-coffee-total-cost {
    border-radius: 0;
  }

  #st-spend-coffee-increase {
    border-radius: 0 5px 5px 0;
  }
}

.st-victory-conditions {
  background: $sky-team-green !important;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  .st-victory-conditions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-top: 1px dotted white;
    padding: 2px 5px;
    &.success {
      background: $sky-team-green !important;
    }
    &.failed {
      background: $sky-team-red !important;
    }
    &.pending {
      background: gray !important;
    }
    .st-victory-conditions-row-letter {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        background-color: white;
        color: #97c355;
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
      }
    }
    .st-victory-conditions-row-description {
      flex-grow: 1;
      text-align: left;
    }
    .st-victory-conditions-row-status {
      font-size: 25px;
    }
  }

  &.failure {
    .st-victory-conditions-row-letter {
      span {
        color: $sky-team-red;
      }
    }
  }
}

#st-final-round-notice {
  p {
    color: $sky-team-red;
    text-decoration: underline;
  }
}

.player-board {
  background: linear-gradient(180deg,#f8f8f8,#e7e9e8);

  .st-role-card-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}

#popin_stWelcomeDialogId {
  background: lightgrey;
}


