/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SkyTeam implementation : © Jordi Jansen <jordi@itbyjj.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 */
@use 'sass:math';

@import '../../node_modules/bga-zoom/bga-zoom';
@import '../../node_modules/bga-cards/bga-cards';
@import 'Variables';
@import 'Boards';
@import 'Tokens';
@import 'Cards';

.bga-cards_selectable-card {
  .card-side {
    @include selectable();
  }
}

.bga-cards_selected-card {
  .card-side {
    @include selected();
  }
}

html, .mode_3d #game_play_area_background {
  background-image: url('img/skyteam-bg.jpg');
  .whiteblock {
    border-radius: 10px;
  }
}

#custom-actions {

}

#st-player-setup {
  display: flex;
  justify-content: center;
  gap: 20px;
  .st-role-card {
    margin: 10px 0;
  }
}

